.main {
    width: 80%;
    margin: auto;
    color: gray;
}

.l-calc {
    background: rgba(211, 211, 211, 0.822);
    padding: 10px;
    display: inline-block;
    border-radius: 5px;
    width: 100%;
}

.l-display {
    padding: 10px 0;
    margin: 0;
    width: 100%;
}

.display {
    width: 100%;
    height: 4em;
    box-sizing: border-box;
    border: lightgray;
    padding-right: 10px;
    text-align: center;
    font-size: 3em;
}

.l-btns-row {
    display: flex;
}

.btn {
    width: 25%;
    text-align: center;
    border: white solid thin;
    margin: 2px;
    padding: 10px;
    background: white;
}

.btn-important {
    background: blue;
    border: blue;
    color: white;
}